@* using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc; *@

@* @model IEnumerable<Datiov2.Models.CategoryModel>
 *@

     


@model List<Datiov2test.Models.CategoryModel>


@{
    ViewData["Title"] = "Index";
}

@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategoryID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategoryID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
 *@




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/main.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


    <link rel="icon" type="image/x-icon" href="~/bilder/icons8-my-computer-16.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mängder av teknikprodukter">
    <meta name="keywords" content="Dator, teknik, hårdvara, datio">
    <meta name="author" content="Datio">

    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <title>Datorer och teknik</title>


</head>

<body>
    <div class="main-container">
        <div class="mini-header">
            <div class="mini_header_content">
                <a href="favoriter.html"><span class="material-icons-outlined" id="favoriter">favorite_border</span></a>
                <span class="material-icons-outlined" id="light_mode_button" onclick="darkmode()">light_mode</span>
                <span class="material-icons-outlined" id="dark_mode_button" onclick="darkmode()">dark_mode</span>

                <h6 class="mini_header_text">Privat</h6>
                <h6 class="mini_header_text" id="mini_header_text_right">Företag</h6>
            </div>
        </div>

        <div class="content-container">
            <div class="header">

                <!--Mobilmeny-->
                <div class="mobile_menu_button" onclick="meny_funktion()">
                    <span class="material-icons-outlined" id="mobile_menu_icon">menu</span>

                    <div class="meny_alternativ">
                        <a href="kategori.html" class="mobile_category">Datorer</a>
                        <a href="kategori.html" class="mobile_category">Bildskärmar</a>
                        <a href="kategori.html" class="mobile_category">Hem/fritid</a>
                        <a href="kategori.html" class="mobile_category">Kameror</a>
                        <a href="kategori.html" class="mobile_category">Kontor</a>
                        <a href="kategori.html" class="mobile_category">Mobil</a>
                        <a href="favoriter.html" class="mobile_category">Önskelista</a>
                        <a href="logga_in.html" class="mobile_category">Mitt konto</a>
                        <a href="#" class="mobile_category">Kundservice</a>
                        <a href="#" class="mobile_category" onclick="darkmode()">Byt tema</a>
                    </div>
                </div>

                <a href="@Url.Action("Index", "Home")"> <img src="bilder/logotyp_datio_stor_transparent.png" alt="Logotyp" id="datio_logo"> </a>


                <form class="form_search">
                    <input type="text" placeholder="Sök..." class="search">
                    <button type="submit" class="sök_knapp">
                        <span class="material-icons-outlined" id="search_icon">
                            search
                        </span>
                    </button>
                </form>

                <form method="get" action="/User/Register" class="form_konto">
                    <button type="submit" class="konto">
                        <span class="material-icons-outlined" id="account_icon">person_outline</span>
                        <span id="account_text">Mitt konto</span>
                    </button>
                </form>

@*                 href="@Url.Action("Login", "User")">
 *@
                <form method="get" action="kundvagn.html" class="form_kundvagn">
                    <button type="submit" class="kundvagn" id="shopping_cart_button">
                        <span class="material-icons-outlined" id="shopping_cart_icon" onmouseover="goToCartNudge()">shopping_cart</span>
                    </button>
                </form>
            </div>

            <div class="nav">
                <ul>
                    <li class="navbar" id="menu_link2">
                        <a href="kategori.html" id="menu_link" onclick="darkmode()">
                            <span class="material-icons-outlined"
                                  id="menu_icon">menu</span>
                        </a>
                        <a href="kategori.html" class="navbar-knapp" id="all_categories_text">Alla kategorier &#8964;</a>
                    </li>
                    <li class="navbar">
                        <a href="kategori.html" class="navbar-knapp">Datorer</a>
                    </li>
                    <li class="navbar">
                        <a href="kategori.html" class="navbar-knapp">Bildskärmar</a>
                    </li>

                    <li class="navbar">
                        <a href="kategori.html" class="navbar-knapp">Hem/fritid</a>
                    </li>

                    <li class="navbar">
                        <a href="kategori.html" class="navbar-knapp">Kameror</a>
                    </li>

                    <li class="navbar">
                        <a href="kategori.html" class="navbar-knapp">Kontor</a>
                    </li>
                    <li class="navbar">
                        <a href="kategori.html" class="navbar-knapp">Mobil</a>
                    </li>
                </ul>
            </div>

            <!--MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN-->

            <div class="main-content">
                <div class="slides_box">
                    <div class="slide">
                        <a href="produkt.html">
                            <img class="slides_pictures" id="ps5_ad" src="bilder/ps5_ad_banner2.png"
                                 alt="PS5 kampanjbild kampanjbild">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="produkt.html">
                            <img class="slides_pictures" src="bilder/meta_quest_ad(Large).png" alt="Meta Quest 2 kampanjbild">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="kategori.html">
                            <img class="slides_pictures" src="bilder/black_friday_pic.jpg" alt="Black Friday kampanjbild">
                        </a>
                    </div>
                    <a class="prev" id="prevy" onclick="prevSlide()">&#10094;</a>
                    <a class="next" onclick="nextSlide()">&#10095;</a>
                </div>

                <div class="fakta">
                    <ul>
                        <li class="fakta_text1">Fri frakt vid köp över 499kr</li>
                        <li>2-3 dagars leveranstid</li>
                        <li>30 dagars öppet köp</li>
                        <li>Kunnig kundsupport</li>
                        <li><button class="facts_button">Våra tjänster</button></li>
                        <li>
                            <button class="facts_button" id="facts_support">
                                <span class="material-icons-outlined" id="support_agent_icon">support_agent</span>
                                <h5>Kundservice</h5>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            @foreach (var category in Model)
            {
                <h3 class="product_showcase_type_text">@category.CategoryName</h3>
                <div class="product_field">
                    <div class="product_grid">
                        @foreach (var product in category.Products)
                        {
                            <div class="produkt_box">
                                <a href="@Url.Action("Product", "Product", new { id = product.ProductID })">
                                    <img src="@product.ProductImage" alt="@product.ProductDescription">
                                    <h2>@product.ProductName</h2>
                                    <h3>@product.ProductPrice kr</h3>
                                    <h4 class="stock_text">
                                        <span class="stock_dot"></span> i lager: @product.ProductStock
                                    </h4>
                                </a>
                            </div>

                            
                        }
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="footer">
        <div class="footer_down">
            <div class="footer_box" id="sociala_medier_box">
                <h2>Följ oss</h2>

                <div class="sociala_medier_box">
                    <a id="yt" class="sociala_medier" href="http://Youtube.com" target="_blank">
                        <img class="sociala_medier"
                             src="bilder/youtube.png" alt="">
                    </a>

                    <a class="sociala_medier" href="http://Twitter.com" target="_blank">
                        <img class="sociala_medier"
                             src="bilder/twitter.png" alt="">
                    </a>

                    <a class="sociala_medier" href="http://Facebook.com" target="_blank">
                        <img class="sociala_medier"
                             src="bilder/facebook.png" alt="">
                    </a>

                    <a class="sociala_medier" href="http://Instagram.com" target="_blank">
                        <img class="sociala_medier"
                             src="bilder/instagram.png" alt="">
                    </a>
                </div>

                <h3>Nyhetsbrev</h3>

                <input id="nyhetsbrev" type="email">
                <input id="button_prenumerera" type="button" value="Prenumerera">

                <h4 id="copyright">Copyright 2023 Datio</h4>
            </div>
        </div>

        <div class="footer_upper">
            <div class="footer_box" id="kontakt_box">
                <h2>Kontakt</h2>
                <h3 class="footer_text">
                    <span class="material-icons-outlined" id="email_icon"> email </span>info@datio.nu
                </h3>
                <br>
                <h3 class="footer_text">
                    <span class="material-icons-outlined" id="phone_icon"> phone </span>073 725 85 99
                </h3>
                <br>
                <br>
                <h4>Måndag - Fredag: 09-18</h4>
                <h4>Lördag: 11 - 16</h4>
                <h4>Söndag: Stängt</h4>
            </div>

            <div class="footer_box">
                <h2>Information</h2>

                <a class="information_länk" href="#">FAQ - Frågor och Svar</a>
                <a class="information_länk" href="#">Felanmälan och återköp</a>
                <a class="information_länk" href="#">Försäljningsvilkor</a>
                <a class="information_länk" href="#">Företagsförsäljning</a>
                <a class="information_länk" href="#">Om Datio</a>

                <img src="bilder/mastercard.png" class="betalningsmetod_logo" alt="">
                <img src="bilder/visa.png" class="betalningsmetod_logo" alt="">
                <img src="bilder/klarna.png" class="betalningsmetod_logo" alt="">
            </div>
        </div>
    </div>
    <script src="~/js/script.js"></script>

</body>

</html>